@font-face {
	font-family: 'MasonChronicles';
	src: url('../fonts/MasonChronicles.woff') format('woff'),
	url('../fonts/MasonChronicles.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	color: #fff;
	background: #141218 url('../img/bg.jpg') top right 20% no-repeat;
}

.container {
	width: 95%;
	max-width: 1140px;
	margin: auto;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 60px;
	margin-bottom: 90px;

}
.header__nav {
	margin-right: auto;
	margin-left: 68px;
}

.header__nav-link {
	margin-right: 24px;
	color: #fff;
	text-decoration: none;
}

.header__social-link {
	margin-left: 21px;
	text-decoration: none;
}

.main__content {
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.genre {
	display: block;
	margin-bottom: 16px;
	font-size: 12px;
	animation-delay: 0.1s;
}

.raiting {
	display: flex;
	align-items: center;
	animation-delay: 0.3s;
}

.raiting-number {
	margin-left: 10px;
}

.main-title {
	margin: 10px 0;
	font-family: MasonChronicles;
	font-size: 76px;
	line-height: 89px;
	animation-delay: 0.5s;
}

.main-description {
	max-width: 458px;
	line-height: 150%;
	animation-delay: 0.7s;
}

.main-btn {
	display: inline-block;
	margin-top: 40px;
	background-color: #9D2929;
	color: #fff;
	padding: 22px 72px;
	border-radius: 8px;
	text-decoration: none;
	animation-delay: 0.9s;

}

.play {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 100px;
	height: 100px;
	background-color: #9D2929;
	border-radius: 50%;
	border: none;
}

.play::before {
	content: '';
	position: absolute;
	top: -16px;
	left: -16px;
	width: 132px;
	height: 132px;
	background-color: #9D2929;
	opacity: 0.5;
	border-radius: 50%;
	animation: pulse 0.8s ease-in-out 2s infinite;
}

.play-icon {
	transform: translateX(5px);
}


/*slider*/

.series {
	display: flex;
	align-items: center;
	margin-top: 85px;
	margin-bottom: 60px;
	max-width: 420px;
}

.swiper-container {
	max-width: 420px;
	margin-left: 0;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 13px;
	margin-right: 30px;
	width: 164px;
	height: 113px;
	background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%);
	border-radius: 8px;
}

.series-1 {
	background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/card-1.jpg') center center/cover no-repeat;
}
.series-2 {
	background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/card-2.jpg') center center/cover no-repeat;
}
.series-3 {
	background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/card-3.jpg') center center/cover no-repeat;
}
.series-4 {
	background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/card-4.jpg') center center/cover no-repeat;
}
.series-5 {
	background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/card-5.jpg') center center/cover no-repeat;
}
.series-6 {
	background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/card-6.jpg') center center/cover no-repeat;
}
.series-7 {
	background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/card-7.jpg') center center/cover no-repeat;
}
.series-8 {
	background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/card-8.jpg') center center/cover no-repeat;
}

.card-suptitle {
	margin-bottom: 2px;
	font-size: 10px;
	line-height: 12px;
}

.card-title {
	font-weight: bold;
	line-height: 16px;
}

.arrow {
	width: 32px;
	height: 22px;
	background-color: transparent;
	border: none;
}

.footer {
	padding: 20px 0;
	background-color: #141218;
	color: #89888b;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.footer-link {
	margin-left: 25px;
	color: #89888b;
	text-decoration: none;
}

.mnu-btn {
	display: none;
	position: absolute;
	right: 35px;
	top: 40px;
	width: 30px;
	height: 2px;
	background-color: #fff;
	cursor: pointer;
}

.mnu-btn::before,
.mnu-btn::after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 2px;
	background-color: #fff;
	transition: all 0.2s ease;
}

.mnu-btn::before {
	margin-top: -7px;
}

.mnu-btn::after {
	margin-top: 7px;
}

.mnu-btn-active {
	height: 0;
}
.mnu-btn-active::before {
	transform: rotate(45deg);
	margin-top: 0;
}
.mnu-btn-active::after {
	transform: rotate(-45deg);
	margin-top: 0;
}

/* Responsive */
@media (max-width: 760px) {

	.mnu-btn {
		display: block;
	}
	.header {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 0;
		right: 0;
		width: 250px;
		padding-bottom: 40px;
		background-color: #9d2929;
	}
	.header-active {
		display: flex;
	}
	.header__logo {
		margin-bottom: 25px;
	}
	.header__nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		order: 2;
		margin: auto;
	}
	.header__nav-link {
		margin-right: 0;
		margin-bottom: 17px;
	}
	.header__social {
		order: 1;
		margin-bottom: 22px;
	}
	.header__social-link:first-child {
		margin-left: 0;
	}
	.main__content {
		margin-top: 196px;
	}
	.main-title {
		font-size: 56px;
	}
	.series {
		width: 80%;
	}
	.play {
		display: none;
	}
	.swiper-container{
		width: 80%;
	}
	.footer-link:first-child {
		margin-left: 0;
	}
	.left {
		margin-bottom: 8px;
	}
	.footer-content {
		flex-direction: column;
	}


}

